<template>
	<div>main</div>
</template>
<script>
    export default {
		name: "Main",
        data () {
            return {
            }
        },
        methods: {
        }
	}
</script>
<style scoped>
</style>
